[Unit]
Description=Decouverto Replica
After=syslog.target network.target

[Service]
ExecStart=/home/cjung/.nvm/versions/node/v12.18.3/bin/node /repos/decouverto-replica/decouverto-replica-cron.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=decouverto-replica

[Install]
WantedBy=multi-user.target